{:migrators    {:sql-mig    "/migrations"}

 :seeds        {:sql-seed  "seeds.sql/run"}
 
 :databases    {:psql-dev  {:type :sql, :url "jdbc:postgresql:playground_dev?user=postgres&password=postgres"}
                :psql-test {:type :sql, :url "jdbc:postgresql:playground_test?user=postgres&password=postgres"}}

 :environments {:dev       [{:db :psql-dev,  :migrator :sql-mig, :seed :sql-seed}]
                :test      [{:db :psql-test, :migrator :sql-mig, :seed :sql-seed}]}
 }
