{:migrators    {:sql-mig "resources/migrations"}

 :seeds         {:sql-seed "seeds.sql/run"}
 
 :databases     {:psql-dev {:type :sql, :url "jdbc:postgresql://localhost:5432/?user=postgres&password=postgres"  #_"jdbc:postgresql:postgres@localhost:5432/postgres"
                            #_"jdbc:postgresql:postgres@localhost:5432/postgres"}}

 :environments {:dev       [{:db :psql-dev, :migrator :sql-mig, :seed :sql-seed}]}}
